<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <%= link_to "Home", root_path, class: "active item" %>
    <%= link_to "Baking Categories", root_path, class: "item" %>
    <div class="right menu">
      <% if @current_user %>
        <div class="ui item">
          Welcome back, <%= @current_user.name %>!
        </div>
        <%= link_to "Your profile page", user_path(@current_user.id), class: "ui item" %>
      <% end %>
      <%= link_to "Log in", login_path, class: "ui item" %>
      <%= link_to "Log out", logout_path, method: :delete, class: "ui item" %>
    </div>
  </div>
</div>
