<div class="ui main text container">
  <h2>Edit the directions</h2>
  <%= form_for @directions, html: {class: "ui large form"} do |d| %>
    <input type="hidden" name="recipe_id" value="<%= params[:recipe_id] %>" />
    <p>
      <%= d.label :step %>
      <%= d.text_field :step %>
    </p>
    <p>
      <%= d.label :instruction %>
      <%= d.text_field :instruction %>
    </p>
  <% end %>
</div>
