<div class="ui main text container">
  <h2>Add a Recipe</h2>
  <%= form_for(@recipe, :html => {:multipart => true}), html: {class: "ui large form"} do |el| %>
    <input type="hidden" name="recipe[user_id]" value="<%= @current_user.id %>" />
      <p>
        <%= el.label "Baking Category" %>
          <select name="recipe[baking_category_id]", class="ui selection dropdown">
            <% @baking_categories.each do |b| %>
              <option value="<%= b.id %>"><%= b.name %></option>
            <% end %>
          </select>
      </p>
      <p>
        <%= el.label :name %>
        <%= el.text_field :name %>
      </p>
      <p>
        <%= el.label :image %>
        <%= el.cl_image_upload :image %>
      </p>
      <p>
        <%= el.label :skill_level %>
        <%= el.text_field :skill_level, placeholder: "Rate from 1 to 5" %>
      </p>
      <p>
        <%= el.label :prep_time %>
        <%= el.text_field :prep_time, placeholder: "Enter in minutes"%>
      </p>
      <p>
        <%= el.label :cooking_time %>
        <%= el.text_field :cooking_time, placeholder: "Enter in minutes" %>
      </p>
      <%= el.submit "Next", class: "ui teal basic button"%>
  <% end %>
</div>
