<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal header">
      <div class="content">Sign up now
      </div>
    </h2>
    <%= form_for @user, html: {class: "ui large form"} do |el| %>
    <p>
      <%= el.text_field :name, placeholder: "Name" %>
    </p>
    <p>
      <%= el.text_field :email, placeholder: "Email address" %>
    </p>
    <p>
      <%= el.password_field :password, placeholder: "Password" %>
    </p>
      <%= el.submit "Sign Up", class: "ui fluid large teal submit button" %>
    <% end %>
  </div>
</div>
