<h3>Join our community of awesome bakers and create your profile today!</h3>

<%= form_for @user do |el| %>
<p>
  <%= el.label :name %>
  <%= el.text_field :name %>
</p>
<p>
  <%= el.label :email %>
  <%= el.text_field :email %>
</p>
<p>
  <%= el.label :password %>
  <%= el.password_field :password %>
</p>
  <%= el.submit "Sign Up", class: "ui teal basic button" %>
<% end %>
