<div class="spotlight-container">
  <%= image_tag "header_img.jpg", class: "spotlight-image" %>
  <div class="spotlight-text">
    <h1>The Minimalist Baker</h1>
    <h2>Simpler baking - with less fuss</h2>
    <%= link_to "See Our Recipes", "/#baking-categories", class: "ui inverted teal basic button" %>
  </div>
</div>
<div class="ui inverted segment" id="feature-container">
  <div class="ui text container">
    <h2>1,000 amazing baking recipes for you to try!</h2>
      <%= form_tag recipes_search_path, method: "post", class: "ui large form" do %>
        <p>
          <%= text_field_tag :find, nil, placeholder: "Enter search term...", id: "search-field" %>
          <%= submit_tag "Search", class: "ui teal basic button", id: "search-button" %>
        </p>
        <div class="content">
          <ul>
            <li><%= link_to @baking_categories.first.name, baking_category_path(@baking_categories.first.id) %></li>
            <li><%= link_to @baking_categories.second.name, baking_category_path(@baking_categories.second.id) %></li>
            <li><%= link_to @baking_categories.last.name, baking_category_path(@baking_categories.last.id) %></li>
          </ul>
        </div>
      <% end %>
  </div>
</div>
<div class="ui text container">
  <a name="baking-categories"><h1>Baking Categories</h1></a>
</div>
<div class="ui grid">
  <% @baking_categories.each do |b| %>
    <div class="four wide column">
      <h3><%= b.name %></h3>
      <%= link_to image_tag(b.image, class: "category-img"), baking_category_path(b.id) %>
        <% if @current_user && @current_user.admin %>
          <br><%= link_to "Edit", edit_baking_category_path(b.id), class: "ui teal basic button" %> <%= link_to "Delete", baking_category_path(b.id), class: "ui teal basic button", method: :delete, data: {confirm: "Are you sure you want to delete the #{b.name} category?"} %></br>
        <% end %>
    </div>
  <% end %>
</div>
<div class="ui inverted segment" id="feature-container">
  <div class="ui text container">
    <% if @current_user && @current_user.admin %>
      <h2>Welcome back, <%= @current_user.name %>!</h2>
        <%= link_to "Add a New Baking Category", new_baking_category_path, class: "ui teal basic button" %>
    <% end %>
    <% if @current_user %>
      <h2>Share your delicious recipe today</h2>
      <%= link_to "Add a New Recipe", new_recipe_path, class: "ui teal basic button" %>
    <% end %>
    <% if !@current_user %>
      <h2>Join The Minimalist Baker Today!</h2>
      <%= link_to "Sign Up Now", new_user_path, class: "ui teal basic button" %>
    <% end %>
  </div>
</div>
