<div class="spotlight-container">
  <div class="spotlight-text">
    <h1>The Minimalist Baker</h1>
    <%= link_to "See Our Recipes", new_baking_category_path, class: "ui inverted teal basic button" %>
  </div>
</div>
<div class="content-container">
  <h2>1,000 amazing baking recipes for you to try!</h2>
  <%= form_tag("/recipes/search", method: "post") do %>
    <p>
      <%= text_field_tag(:find, "Find a recipe") %>
    </p>
    <p>
      <%= submit_tag("Search", class: "ui teal basic button") %>
    </p>
  <% end %>
</div>
<div class="ui main text container">
<h1>Check out these awesome baking categories!</h1>
<ul>
  <% @baking_categories.each do |b| %>
    <li><%= link_to b.name, baking_category_path(b.id) %>
      <% if @current_user && @current_user.admin %>
        <%= link_to "Edit", edit_baking_category_path(b.id) %> |
        <%= link_to "Delete", baking_category_path(b.id), method: :delete, data: {confirm: "Are you sure you want to delete the #{b.name} category?"} %>
      <% end %>
    </li>
  <% end %>
</ul>
</div>
<div class="ui main text container">
  <% if @current_user && @current_user.admin %>
    <%= link_to "Add a New Baking Category", new_baking_category_path, class: "ui teal basic button" %>
  <% end %>
  <% if @current_user %>
    <%= link_to "Add a New Recipe", new_recipe_path, class: "ui teal basic button" %>
  <% end %>
  <% if !@current_user %>
    <%= link_to "Sign Up Now", new_user_path, class: "ui teal basic button" %>
  <% end %>
</div>
