<!DOCTYPE html>
<html>
  <head>
    <title>Baking App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans" rel="stylesheet">
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>
  <body>
    <%= render "includes/navigation" %>
    <div class="ui text container" id="flash-notices">
      <%= render "includes/flash_notices" %>
    </div>
      <%= yield %>
    <%= render "includes/footer" %>
  </body>
</html>
